<configuration>

    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}"/>
    <property name="LOG_TO_FILE" value="${LOG_TO_FILE:-true}"/>
    <property name="LOG_DIR" value="${LOG_DIR:-logs}"/>
    <property name="LOG_FILE" value="${LOG_FILE:-app.log}"/>

    <!-- Console -->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{HH:mm:ss} %-5level [%X{requestId}] %logger{0}.%M - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!-- File -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/${LOG_FILE}</file>
        <encoder>
            <pattern>
                %d{HH:mm:ss} %-5level [%X{requestId}] %logger{0}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
<!--        <appender-ref ref="STDOUT"/>-->
        <appender-ref ref="FILE"/>
    </root>

</configuration>